*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(217, 255, 242);
    margin: 5%;
}
.bd{
    position: relative;

    width: 500px;
    height: 400px;
    border: 5px solid rgb(0, 152, 202);
    border-radius: 10px;
    background: rgb(179, 203, 255);
    
}
.face {
    position: absolute;
    width: 240px;
    height: 120px;
    /* border: 1px dashed red; */
    top: 30%;
    left: 30%;
    background: rgb(63, 63, 63);
    transform: skew(0deg, -10deg);
}
.face img {
    position: relative;
    top: -20px;
    right: 60px;
    z-index: 2;
}
.side-l {
    font-size: 2em;
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    left: -43px;
    width: 42px;
    height: 120px;
    background: rgb(0, 152, 202);
    transform-origin: right;
    transform: skew(0,46deg);
    z-index: 1;
}
.side-text {
    position: absolute;
    inset: 8% 10%;
    /* background: white; */
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed black; */
}
.side-text p {
font-size: 0.8em;
}
.side-r {
    font-size: 2em;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
    right: -0px;
    width: 42px;
    height: 120px;
    background: rgb(10, 108, 255);
    transform-origin: right;
    transform: skew(0,46deg);
    /* transform: skew(0deg, -10deg); */
}

.head {
    content: '';
    position: absolute;
    top: -44px;
    left: 0px;
    width: 240px;
    height: 43px;
    background: rgb(0, 152, 202);
    transform-origin: bottom;
    transform: skew(45deg,0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-text p {
    font-size: 1.4em;
    font-weight: 800;
    color: white;
}
.foot {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 240px;
    height: 43px;
    background: rgb(0, 71, 178);
    transform-origin: bottom;
    transform: skew(45deg,0);
}